
.aliner{
 margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.aliner_r{

  
    display: flex;
  justify-content: center;
  align-items: center;

}

